* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f51823' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 11, 26, 0.568),rgba(8, 2, 36, 0.3));
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;

    justify-content: flex-start;
 

}
.video-promotional{
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.logo-container{
  z-index: 2;
}

.logo{
  width: 50%;
}
nav{
  position: relative;
  top: 0;
  height: 80px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.116);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-menu{
  display: flex;
  justify-content: right;
  gap: 3em;
  padding-right: 15px;
  list-style: none;
}

.nav-item{
  color: #fff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 400;
}

.nav-item::after{
  content: "";
  display: block;
  background: #f51823;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .5s;
}

.nav-item:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

  .nav-label, .nav-input {
    display: none;
  }
 


.titular {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
h1 {
  width: 100%;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 5%;

}
h1 span {
  color: #f51823;
}

.titular p {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 25px;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 1%;
}
    
.btn-box{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 20px;
}

.btn-box h2{
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

.btn-box span{
  color: #f51823;
  font-weight: 900;
  text-transform: uppercase;
}

.btn-whats{
  width: 100%;
  background-color: transparent;
  border: 1px solid #f51823;
  color:#ffffff;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 10px;
  border-radius: 20px;
}

.btn-whats:hover {
  color: rgb(255, 255, 255);
  background-color: #f51823;
  cursor: pointer;
 }

.icono{
  padding-right: 10px;
  font-size: 25px;
  font-weight: 200;
}


.form {
  --input-text-color: rgb(255, 255, 255);
  --input-bg-color: #ffffffb9;
  --focus-input-bg-color: transparent;
  --text-color: #313131;
  --active-color: #f51823;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
 }
 
 .form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.8em;
  padding-inline: var(--inline-padding-of-input);
  width: 100%;
  position: relative;
  isolation: isolate;
  z-index: 0;
 }
 
 .fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(216, 216, 216, 0.16) 0px 1px 4px;
 }
 
 .search,.close-btn {
  position: absolute;
 }
 
 .search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
  width: 20px;
 }
 
 .close-btn {
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
 }
 
 .input {
  color: var(--input-text-color);
  width: 100%;
  background: transparent;
  border: none;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
 }
 
 .input:focus {
  outline: none;
 }
 
 .input::placeholder {
  color: var(--text-color)
 }
 
 .input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
 }
 
 .input:focus ~ .search {
  fill: var(--active-color);
 }
 
 .input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
 }
 
 @media screen and (max-width: 1024px){
  .video-promotional{
    width: 200%;
  }
}
  @media screen and (max-width: 400px) {
    .video-promotional{
      width: 400%;
      
    }
    h1 {
      font-size: 60px;
    }
    
    .titular p {
      font-size: 18px;
      padding-right: 5%;
      padding-left: 5%;
      padding-top: 1%;
    }
    .btn-box{
      width: 80%;
    }
    .btn-box h2 {
      font-size: 15px;
    }
    .input {
      font-size: 15px;
  }
  .btn-whats {
    font-size: 16px;
}
    nav {
      padding: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .nav-label{
      z-index: 5;
      cursor: pointer;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      padding-right: 10px;
  }
  .nav-item {
    font-size: 30px;
}
  .nav-menu{
      position: fixed;
      z-index: 1;
      top: 0px;
      bottom: 0;
      width: 100vw;
      left: 0;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: clip-path 0.5s ease-in-out;
      background-color: #000000;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f51823' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .nav-input:checked ~ .nav-menu{

      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }


  }
